* {
  font-family: 'Sanchez', serif;
  margin: 0;
  text-align: center;
}

button {
  border-radius: 3px;
  background-color: #510056;
  color: #e3bc66;
  width: 16vmin;
  height: 7vmin;
  transition: background-color, font-size 1s;
}

button:hover {
  cursor: pointer;
  background-color: #e3bc66;
  color: #510056;
  font-size: large;
}

button:focus,
button:active {
  font-size: x-small;
}

html {
  width: 100vw;
  height: 100vh;
  top: 0;
  background-image: url("https://thumbs.dreamstime.com/b/pink-plastered-concrete-wall-texture-painted-built-structure-grungy-uneven-plaster-abstract-background-shabby-155634485.jpg");
}

.logo {
  position: fixed;
  top: 0;
  left: 0;
  object-fit: contain;
  height: 15vmin;
  margin: 1em;
}

header {
  position: fixed;
  top: 0;
  height: 20vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 1;
  background-color: #510056;
  color: #e3bc66;
  text-shadow: 1px 1px 2px black;
  justify-content: center;
}

.header-text {
  width: 40%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.user-search-form {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 4.5vmin;
  right: 1vmin;
  align-items: center;
}

.user-search-form > 
input, button {
  width: 12vmin;
  margin: 0;
}

main {
  width: 100vw;
  height: 80vh;
  margin-top: 20vh;
  display: flex;
  overflow: hidden;
}

.login-page {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-logo {
  object-fit: contain;
  height: 30vh;
  margin: 1em;
}

.login-form {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}

.login-form > input {
  margin: 1vmin;
  margin-bottom: 2vmin;
  width: 15vmin;
  text-align: center;
}

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}

.shake {
  animation: shake 0.5s;
}

.login-error-text {
  color: red;
  font-size: large;
  background: #d3d3d380;
  padding: 0.5vmin;
  border-radius: 20px;
}



.modal-section {
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  background-color: rgba(0 0 0 / 40%);
  height: 100%;
  width: 100%;
  z-index: 2;
  position: fixed;
  overflow: hidden;
}

.modal {
  height: 86vmin;
  width: 80vmin;
  background-color: #ffdbe9;
  margin-top: 3vmin;
  overflow: auto;
  padding: 2vmin;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 150px;
}

.modal > p {
  margin: 2vh 0 2vh 0;
  text-align: center;
}

.modal > img {
  width: 75%;
  border-radius: 80px;
}

.modal > h3 {
  text-align: center;
  height: auto;
  margin-bottom: 2vh;
  font-size: x-large;
}

.modal-room-info {
  display: flex;
  margin-top: 2vh;
  text-transform: capitalize;
  width: 100%;
  justify-content: space-evenly;
}

.room-info-icons {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: auto;
}

.room-info-icons > p {
  margin-left: .8vmin;
}

h2, 
h1, 
.date-selection > label {
  color: #e3bc66;
  text-shadow: 3px 2px 2px black;
  text-align: center;
}



.left-side-create, 
.right-side-booked {
  width: 50vw;
  height: 80vh;
  margin: 0;
  padding: 0;
  z-index: 1;
}

.right-side-booked {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.date-selection {
  height: 25%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.date-selection > label, 
input, 
button {
  margin: 1vmin;
}

.date-selection > label {
  font-size: larger;
}

.room-options {
  height: 70%;
  width: 100%;
}

.filter-form {
  margin: 0;
  height: 20%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.filters {
  cursor: pointer;
}

.sorry-message {
  text-align: center;
  margin-top: 20vmin;
}

.reservation-date {
  cursor: pointer;
}

.filter-form > label, 
select {
  margin: 1vmin;
}

.mini-room-cards {
  height: 81%;
  width: auto;
  margin: 0;
  margin-left: 1vmin;
  overflow: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  border: 8px ridge #e3bc66;
  background-color:#fcc3d3;
  box-shadow: 3px 2px 5px rgb(0 0 0);
}

.mini-room {
  display: flex;
  flex-direction: row;
  width: 80%;
  justify-content: space-between;
  align-items: center;
  margin: 1vh;
  border-radius: 4px;
  background-color: #ffffff2e;
  cursor: pointer;
}

.mini-room-left, 
.mini-room-right {
  display: flex;
  flex-direction: column;
  width: 50%;
  height: 100%;
}

.mini-room-right > h3 {
  width: 100%;
  height: 100%;
}

.mini-room-left > p, 
h3 {
  text-transform: capitalize;
  height: 50%;
  padding: 1vmin;
}

.user-spent-header {
  font-size: large;
}

.upcoming-reservations, 
.past-reservations {
  height: 38%;
  width: 94%;
  margin: 0;
  margin-left: .5vmin;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  border: 8px ridge #e3bc66;
  background-color:#fcc3d3;
  box-shadow: 3px 2px 5px rgb(0 0 0);
}

.past-minis, 
.upcoming-minis {
  width: 100%;
  height: 100%;
  padding: 0;
  overflow: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.mini-room-booked {
  display: flex;
  width: 80%;
  margin: 1vmin;
  justify-content: space-evenly;
  border-radius: 4px;
  background-color: #ffffff2e;
}

.delete-reservation {
  height: auto;
  width: auto;
}

.mini-room-booked > h3 {
  width: 50%;
  height: 100%;
  padding: 1vmin;
}

.upcoming-minis > .mini-room-booked > h3 {
  width: 50%;
  height: 100%;
  padding: 1vmin;
  cursor: pointer;
}

.hidden {
  display: none;
}